{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Expired Token</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous">
    <link href="{% static 'grabsomore/styles.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Password Reset Link Expired</h2>
    <p>The password reset link has expired. Please request a new one.</p>
    <a href="{% url 'grabsomore:login' %}">Return to Login</a>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>
</html>
